//coloRs
$white: #f2ebeb;
$birumuda: #2880d1;
$abu2: #e4e1e1;
$shadow: #524848c2;
$boxForm: #f9f3f3;
$Merahmuda: #f5d0ca;
$Merah: #991901;
$iconOrange: #ffa726;
$iconMerah: #ef5350;
$iconHijau: #9ccc65;
$iconKuning: #ecdd50;
$iconUngu: #ab47bc;
$iconMiddle: #3a3a3a; 